
  {{- if .Page.Params.Author }}
  <meta name="author"
        content="{{ .Page.Params.Author }}">
  {{- end }}

  {{- if .Page.Params.Excerpt }}
  <meta name="description"
        content="{{ replace .Page.Params.Excerpt "\n" " " }}">
  {{- end }}

  {{- $terms := union .Page.Params.Categories .Page.Params.Tags -}}
  {{- $terms := union $terms .Page.Params.Keywords -}}

  {{- if $terms }}
  <meta name="keywords"
        content="{{ delimit $terms ", " }}">
  {{- else if .Site.Params.Keywords }}
  <meta name="keywords"
        content="{{ delimit .Site.Params.Keywords ", " }}">
  {{- end -}}
