{{ if ne (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
<div class="white hoverable p-t-5 p-b-5">
  <div class="widget-body teal lighten-5">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- display vertikal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3292042350270691"
     data-ad-slot="8132225981"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  </div>
</div>
{{ else }}
   <!-- code for localhost only -->
{{ end }}
